<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Item View</title>

  <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/foundation.css" />

  <!-- If you are using the gem version, you need this only -->
  <link rel="stylesheet" href="css/app.css" />

  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>

  <!-- body content here -->
	<div class="row">
		<div class="large-12 columns">
			<h2>Item Name</h2>
			<!--I have no idea what I'm doing... -->
			<hr />
		</div>
	</div>
	<div class="row">
		<div class = "large-3 columns">
			<p>Reserved for sidebar</p>
		</div>
		<div class = "large-9 columns">
			<h3>Description</h3>
			<div class="row">
				<div class="panel">
					<p>This is where the description goes.<br />I imagine we will actually be using a string or something.</p>
				</div>
			</div>
			<h3>Price</h3>
			<div class="row">
				<div class="panel">
					<p>This is where the price goes.<br />I imagine we will actually be using a string or something.</p>
				</div>
			</div>
			<h3>Seller Information</h3>
			<div class="row">
				<div class = "large-2 columns">
					<h5>Contact:</h5>
				</div>
				<div class = "large-10 columns">
					<div class="panel">
						<p>213-740-4321 (Should take string)</p>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class = "large-2 columns">
					<h5>Location:</h5>
				</div>
				<div class = "large-10 columns">
					<div class="panel">
						<p>Leavey Fountain (Should take string)</p>
					</div>
				</div>	
			</div>
			<div class="row">
				<p><a href="#" class="success button">Contact</a></p>
			</div>
		</div>
	</div>
  
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.alerts.js"></script>
  <script src="js/foundation/foundation.clearing.js"></script>
  <script src="js/foundation/foundation.cookie.js"></script>
  <script src="js/foundation/foundation.dropdown.js"></script>
  <script src="js/foundation/foundation.forms.js"></script>
  <script src="js/foundation/foundation.joyride.js"></script>
  <script src="js/foundation/foundation.magellan.js"></script>
  <script src="js/foundation/foundation.orbit.js"></script>
  <script src="js/foundation/foundation.placeholder.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <script src="js/foundation/foundation.section.js"></script>
  <script src="js/foundation/foundation.tooltips.js"></script>
  <script src="js/foundation/foundation.topbar.js"></script>
  <script src="js/foundation/foundation.interchange.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>