
  <!-- <div class="row"> -->
    <div class="large-4 columns" style="height:220px; width:250px;">
    <ul class="pricing-table" style="height:200px">
      <li class="title" style="height:50px; overflow:hidden; text-overflow:ellipsis; white-space: nowrap; text-align:center;">{{item.item_name}}</li>
      <li class="description" style="height:100px; overflow:hidden; text-overflow: ellipsis;">{{item.description}}</li>
      <li style="text-align:center; padding-top:2px;"><a class="button" href="/item/{{item.key().id()}}">More Info</a></li>
    </ul>
</div>
  <!-- </div> -->

<div class="small-1 columns"></div>