
<!-- Navigation -->
{% if logged_in %}
	<p>Logged in as {{current_user.name}}.</p>
{% endif %}


  <div class="large-3 columns">
	<div class="nav-bar vertical">
		<h4><a target="_top" href="/">Home</a></h4>
		{% if not logged_in %}
			<h4><a target="_top" href="/auth/facebook">Login/Signup</a></h4>
		{% endif %}
		<h4><a target="_top" href="/browse">Browse</a></h4>
		<h4><a target="_top" href="/sell">Sell an Item</a></h4>
		<h4><a target="_top" href="/buy">Ask for an Item</a></h4>
		<h4><a target="_top" href="/items">My Items</a></h4>
		<h4><a target="_top" href="/category/buy">Buy Requests</a></h4>
		<h4>Categories</h4>
		<div class="large-offset-1 columns">
			{% for category in categories %}
				<h4 class="title"><a target="_top" href="/category/{{ category.slug }}">{{category.name}}</a></h4>
			{% endfor %}
		</div>
		<img src="/assets/images/hackLogo.png">
	</div>
