{% extends "_base.html" %}

{% block content %}

<h3>Recently Added</h3>
 <ul data-orbit>
 	{% for item in recent_items %}
  
	  {% include "_scroll.html" with context %}

	{% endfor %}
</ul>

<h3>Popular Items</h3>
<ul data-orbit>
	<div class="panel">
	<li data-orbit-slide="headline-1">
		<div class="large-8 large-offset-2 columns"/>
		<h2>Headline 1</h2>
		<h3>Subheadline</h3>
		<p>Pellentesque habitant morbi tristique senectus.</p>
		
	</li>
	</div>
	<div class="panel">
	<li data-orbit-slide="headline-2">
		<div class="large-8 large-offset-2 columns"/>
		<h2>Headline 2</h2>
		<h3>Subheadline</h3>
		<p>Pellentesque habitant morbi tristique senectus.</p>
		
	</li>
	</div>
	<div class="panel">
	<li data-orbit-slide="headline-3">
		<div class="large-8 large-offset-2 columns"/>
		<h2>Headline 3</h2>
		<h3>Subheadline</h3>
		<p>Pellentesque habitant morbi tristique senectus.</p>
		
	</li>
	</div>
</ul>
{% endblock %}