{% extends "_base.html" %}

{% block content %}
<!-- Everything above is for compatibility with _base.html -->
<!-- Item name and line -->
	<div class="row">
			<h2>Item Name</h2>
			<hr />
	</div>
	<div class="row">
		<!-- Information display -->
		<div class = "large-12 columns">
			<div class="row">
				<h3>Photo</h3>
			</div>
			<div class="row">
				<div class="panel">
					<p>This is where the photo goes; insert crappy picture below.</p>
					<img src="http://www.trojanclubofsandiego.com/images/site_elements/university_southern_california_athletics_fight_on.jpg" />
				</div>
			</div>
			<div class="row">
				<h3>Category</h3>
			</div>
			<div class="row">
				<div class="panel">
					<p>This is where the category goes.<br />I imagine we will actually be using a string or something.</p>
				</div>
			</div>
			<div class="row">
				<h3>Description</h3>
			</div>
			<div class="row">
				<div class="panel">
					<p>This is where the description goes.<br />I imagine we will actually be using a string or something.</p>
				</div>
			</div>
			<div class="row">
				<h3>Price</h3>
			</div>
			<div class="row">
				<div class="panel">
					<p>This is where the price goes.<br />I imagine we will actually be using a string or something.</p>
				</div>
			</div>
			<div class="row">
				<h3>Seller Information</h3>
			</div>
			<div class="row">
				<div class = "large-2 columns">
					<h5>Contact:</h5>
				</div>
				<div class = "large-10 columns">
					<div class="panel">
						<p>213-740-4321 (Should take string)</p>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class = "large-2 columns">
					<h5>Location:</h5>
				</div>
				<div class = "large-10 columns">
					<div class="panel">
						<p>Leavey Fountain (Should take string)</p>
					</div>
				</div>	
			</div>
			<!-- Open Modal button -->
			<div class="row">
				<a href="#" data-reveal-id="yourInfoModal" class="success button">Contact</a>
			</div>
		</div>
	</div>
 
 <!-- Modal that asks for personal info input -->
 <div id="yourInfoModal" class="reveal-modal">
	<div class="row">
		<h3>Input your personal information:</h3>
		<hr />
	</div>
	<form data-abide><fieldset>
		<legend>Personal Information</legend>
		<div class="row">
			<label for="name">Name</label>
			<input id="name" placeholder="Your Name (e.g. John Smith)" type="text" required pattern="[a-zA-Z]+">
			 <small class="error">Name is required and must be a string.</small>
		</div>
		<div class="row">
			<label for="phone">Phone Number</label>
			<input type="tel" required id="phone" placeholder="1 234-567-8910">
			<small class="error" data-error-message>Please enter a properly formatted telephone number.</small>
		</div>
		<div class="row">
			<button type = "submit">Submit</button>
		</div>
	</fieldset></form>
	
	<a class="close-reveal-modal">&#215;</a>
</div>

<!-- Scripts gotten from http://foundation.zurb.com/docs/ -->
 <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
 </script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.abide.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <script>
    $(document).foundation();
  </script>
  
{% endblock %}