{% extends "_base.html" %}

{% block content %}
<!-- Everything above is for compatibility with _base.html -->
<!-- Item name and line -->
<div class="row">
			<h2>Item Name</h2>
			<hr />
	</div>
	<div class="row">
		<!-- Information display -->
		<div class = "large-12 columns">
			<div class="row">
				<h3>Photo</h3>
			</div>
			<div class="row">
				<div class="panel">
					<p>This is where the photo goes.<br />I need to check how to include photos.</p>
				</div>
			</div>
			<div class="row">
				<h3>Category</h3>
			</div>
			<div class="row">
				<div class="panel">
					<p>This is where the category goes.<br />I imagine we will actually be using a string or something.</p>
				</div>
			</div>
			<div class="row">
				<h3>Description</h3>
			</div>
			<div class="row">
				<div class="panel">
					<p>This is where the description goes.<br />I imagine we will actually be using a string or something.</p>
				</div>
			</div>
			<div class="row">
				<h3>Price</h3>
			</div>
			<div class="row">
				<div class="panel">
					<p>This is where the price goes.<br />I imagine we will actually be using a string or something.</p>
				</div>
			</div>
			<div class="row">
				<h3>Seller Information</h3>
			</div>
			<div class="row">
				<div class = "large-2 columns">
					<h5>Contact:</h5>
				</div>
				<div class = "large-10 columns">
					<div class="panel">
						<p>213-740-4321 (Should take string)</p>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class = "large-2 columns">
					<h5>Location:</h5>
				</div>
				<div class = "large-10 columns">
					<div class="panel">
						<p>Leavey Fountain (Should take string)</p>
					</div>
				</div>	
			</div>
			<!-- Open Modal button -->
			<div class="row">
				<a href="#" data-reveal-id="yourInfoModal" class="success button">Contact</a>
			</div>
		</div>
	</div>
 
 <!-- Modal that asks for personal info input -->
 <div id="yourInfoModal" class="reveal-modal">
	<div class="row">
		<h3>Input your personal information:</h3>
		<hr />
	</div>
	<div class="row">
		<label>Name</label>
        <input type="text" placeholder="Your Name (e.g. John Smith)">
	</div>
	<div class="row">
		<label>Contact Information</label>
        <input type="text" placeholder="Your Number (e.g. 213-740-4321)">
	</div>
	<!-- Opens a confirmation modal that confirms clearing -->
	<div class="row">
		<a href="#" data-reveal-id="submitModal" class="success button">Submit</a>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

<!-- submitModal -->
 <div id="submitModal" class="reveal-modal">
	<h3>Submit successful!</h3>
	<a class="close-reveal-modal" class="success button">Close</a>
</div>

<!-- Scripts gotten from http://foundation.zurb.com/docs/ -->
 <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
 </script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <script>
    $(document).foundation();
  </script>
  
{% endblock %}