{% extends "_base.html" %} {% block content %}

  <style>
	.item_Box {
	  width:200px;
	  height:200px;
	  padding:2px;
	  border:1px solid black;
	  display:inline-block;
	  white-space:normal;
	}
	.scroll_Area {
		height:220px;
		overflow-x:auto;
		white-space:nowrap;
		padding-left:11px;
		padding-right:7px;
		display:block;
	}
  </style>
  
  
  <script>
	var pendingItemsArray = new Array();
	var pendingItemsSize = 5;
	function updatePendingItems() {
	  var pendingItemsHTML="";
	  for(var i=0; i<pendingItemsSize; i++) {
		pendingItemsArray[i] = "\
		  <div class=\"item_Box\" id=\"item_Box_Edit\">\
			<h3>Title Of Item " + (i+1) + "</h3>\
			<p>Location: Location of Item</p>\
			<p>Description of Item</p>\
			<input name=\"Edit Item\" type=\"button\" data-reveal-id=\"editModal\" value=\"Edit Item\" />\
			<input name=\"Delete Item\" type=\"button\" data-reveal-id=\"deleteModal\" value=\"Delete Item\" />\
		  </div>"
		pendingItemsHTML+=pendingItemsArray[i];
	  }
	  return pendingItemsHTML;
	}
	
	var buyRequestItemsArray = new Array();
	var buyRequestItemsSize = 5;
	function updateBuyRequestItems() {
	  var buyRequestItemsHTML="";
	  for(var i=0; i<buyRequestItemsSize; i++) {
		buyRequestItemsArray[i] = "\
		  <div class=\"item_Box\" id=\"item_Box_Edit\">\
			<h3>Title Of Item " + (i+1) + "</h3>\
			<p>Location: Location of Item</p>\
			<p>Description of Item</p>\
			<input name=\"Edit Item\" type=\"button\" data-reveal-id=\"editModal\" value=\"Edit Item\" />\
			<input name=\"Delete Item\" type=\"button\" data-reveal-id=\"deleteModal\" value=\"Delete Item\" />\
		  </div>"
		buyRequestItemsHTML+=buyRequestItemsArray[i];
	  }
	  return buyRequestItemsHTML;
	}
  </script>
  
  <div id="my_Items_Title">
  <h2>My Items</h2>
  
  <h3>Pending</h3>
  <hr />
  <div class="scroll_Area">
    <ul class="small-block-grid-2">
    <div id="pendingArea"></div>
    </ul>
  </div>
  
  <h3>Buy Requests</h3>
  <hr />
  <div class="scroll_Area">
    <ul class="small-block-grid-2">
      <div id="buyRequestArea"></div>
    </ul>
  </div>
  
  <div id="editModal" class="reveal-modal">
  	<form class="custom">
      <fieldset>
        <legend><h3>Edit Item</h3></legend>
        <label><h4>Title</h4></label>
        <input type="text" placeholder="Title of your item">
        <form class="custom">
          <label for="customDropdown"><h4>Category</h4></label>
          <select id="customDropdown">
            <option>Choose a category...</option>
            <option>Appliances</option>
            <option>Furniture</option>
            <option>Clothing</option>
            <option>Tickets</option>
            <option>Books</option>
            <option>Electronics</option>
            <option>Transportation</option>
            <option>Housing</option>
            <option>Misc</option>
          </select>
        </form>
        <label><h4>Description</h4></label>
        <textarea placeholder="Description of your item" style="width:100%"></textarea>
        <label><h4>Photo</h4></label>
        <input type="file" placeholder="Upload a photo of your item">
        <label><h4>Location</h4></label>
        <input type="text" placeholder="Where to get your item">
        <label><h4>Contact Info</h4></label>
        <input type="text" placeholder="Email, phone, or anything else">
      </fieldset>
    <form>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  
  <div id="deleteModal" class="reveal-modal">
  	<form class="custom">
      <fieldset>
        <legend><h2>Delete Confirmation</h2></legend>
        <label><h3>Are you sure you want to delete this item?</h3></label>
        <div style="text-align:center; width:100%; margin:10px">
          <a href="#" class="button">Yes</a>
          <a href="#" class="button">No</a>
        </div>
      </fieldset>
    <form>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  	
  <script>
	document.getElementById("pendingArea").innerHTML = updatePendingItems();
	document.getElementById("buyRequestArea").innerHTML = updateBuyRequestItems();
  </script>
  
  <script>
	document.write('<script src=' +
	('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
	'.js><\/script>')
  </script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.section.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <script>
    $(document).foundation();
  </script>
  
{% endblock %}