{% extends "_base.html" %} {% block content %}

  <style>
	.item_Box {
	  width:200px;
	  height:200px;
	  padding:2px;
	  border:1px solid black;
	  display:inline-block;
	  white-space:normal;
	}
	.scroll_Area {
		height:220px;
		overflow-x:auto;
		overflow-y:hidden;
		white-space:nowrap;
		padding-left:11px;
		padding-right:7px;
		display:block;
	}
  </style>
  
  
  <script>
	<!--Setup for pendingItem section-->
	var pendingItemsArray = new Array(); <!--Holds HTML for each pendingItem-->
	var pendingItemsTitle = new Array();
	var pendingItemsPrice = new Array();
	var pendingItemsDescription = new Array();
	var pendingItemsLocation = new Array();
	var pendingItemsSize = 5;
	for(var i=0; i<pendingItemsSize; i++) { <!--Assigns HTML to each pendingItem-->
      pendingItemsTitle[i] = "Item Title " + i;
	  pendingItemsPrice[i] = i*4.99;
	  pendingItemsDescription[i] = "Description of pending item. This'll be quite a bit longer it is now."
	  pendingItemsLocation[i] = "My Location " + i;
	  pendingItemsArray[i] = "\
		<div class=\"item_Box\" id=\"item_Box_Pending_" + i + "\">\
		  <div style=\"height:145px;\">\
			<ul class=\"pricing-table\">\
			  <li class=\"title\">" + pendingItemsTitle[i] + "</li>\
			  <li class=\"description\">Price: " + pendingItemsPrice[i] + "</li>\
			  <li class=\"description\">Location: " + pendingItemsLocation[i] + "</li>\
			</ul>\
		  </div>\
		  <div class=\"cta-button\" style=\"text-align:center;\" onclick=\"setCurrentID(this.id); updateEditModal(this.id);\" data-reveal-id=\"editModal\" id=\"buttonEditPending" + i + "\"/><a class=\"button\" href=\"#\">Edit/Delete Item</a></div>\
		</div>";
	}
	
	<!--Setup for buyRequest section-->
	var buyRequestItemsArray = new Array(); <!--Holds HTML for each buyRequestItem-->
	var buyRequestItemsTitle = new Array();
	var buyRequestItemsPrice = new Array();
	var buyRequestItemsDescription = new Array();
	var buyRequestItemsLocation = new Array();
	var buyRequestItemsSize = 5;
	for(var i=0; i<buyRequestItemsSize; i++) { <!--Assigns HTML to each buyRequestItem-->
	  buyRequestItemsTitle[i] = "Item Title " + i;
	  buyRequestItemsPrice[i] = i*4.99;
	  buyRequestItemsDescription[i] = "Description of pending item. This'll be quite a bit longer it is now."
	  buyRequestItemsLocation[i] = "My Location " + i;
	  buyRequestItemsArray[i] = "\
	    <div class=\"item_Box\" id=\"item_Box_BuyReqeust_" + i + "\">\
		  <div style=\"height:145px;\">\
			<ul class=\"pricing-table\">\
			  <li class=\"title\">" + buyRequestItemsTitle[i] + "</li>\
			  <li class=\"description\">Price: " + buyRequestItemsPrice[i] + "</li>\
			  <li class=\"description\">Location: " + buyRequestItemsLocation[i] + "</li>\
			</ul>\
		  </div>\
		  <div class=\"cta-button\" style=\"text-align:center;\" onclick=\"setCurrentID(this.id)\" data-reveal-id=\"editModal\" id=\"buttonEditBuyRequest" + i + "\"/><a class=\"button\" href=\"#\">Edit/Delete Item</a></div>\
		</div>";
	}
    
    <!--Holds an ID's value. Needed for deleteItem since deleting somethings takes two button presses-->
    var currentID = "";
	function setCurrentID(idString) {
		currentID = idString;
	}
    
	<!--Deletes the item given by its id-->
    function deleteItem(idString) {
	  if(idString.match("buttonEditBuyRequest") != null) { <!--If idString is buyRequest type-->
	    buyRequestItemsArray[parseInt(idString.slice(20, idString.length))] = ""; <!--Remove it from the array, but keep its position in the array since it's easier to update the front end that way-->
		document.getElementById("buyRequestArea").innerHTML = updateItems(buyRequestItemsSize, buyRequestItemsArray); <!--Update the buyRequestArea-->
		closeModal('#editModal'); <!--Close the delete modal-->
	  } else if(idString.match("buttonEditPending") != null) {
		pendingItemsArray[parseInt(idString.slice(17, idString.length))] = "";
		document.getElementById("pendingArea").innerHTML = updateItems(pendingItemsSize, pendingItemsArray);
		closeModal('#editModal');
	  }
	}
	function updateEditModal(idString) {
	  if(idString.match("buttonEditPending") != null) {
		var indexOfID = parseInt(idString.slice(17, idString.length));
		var HTMLtoReturn = "\
		  <form class=\"custom\"><!--Create a form-->\
			<fieldset>\
			  <legend><h3>Edit Item</h3></legend>\
			  <label><h4>Title</h4></label>\
			  <input type=\"text\" placeholder=\"Title of your item\" value=\"" + pendingItemsTitle[indexOfID] + "\">\
			  <form class=\"custom\"><!--Form for a dropdown-->\
				<label for=\"customDropdown\"><h4>Category</h4></label>\
				<select id=\"customDropdown\">\
				  <option>Choose a category...</option>\
				  <option>Appliances</option>\
				  <option>Furniture</option>\
				  <option>Clothing</option>\
				  <option>Tickets</option>\
				  <option>Books</option>\
				  <option>Electronics</option>\
				  <option>Transportation</option>\
				  <option>Housing</option>\
				  <option>Misc</option>\
				</select>\
			  </form>\
			  <label><h4>Description</h4></label>\
			  <textarea placeholder=\"Description of your item\" style=\"width:100%; height:50px; resize:vertical;\">"  + pendingItemsDescription[indexOfID] + "</textarea>\
			  <label><h4>Photo</h4></label>\
			  <input type=\"file\">\
			  <label><h4>Location</h4></label>\
			  <input type=\"text\" placeholder=\"Where to get your item\" value=\"" + pendingItemsLocation[indexOfID] + "\">\
			  <label><h4>Contact Info</h4></label>\
			  <input type=\"text\" placeholder=\"Email, phone, or anything else\">\
			</fieldset>\
			<fieldset>\
			  <legend><h2>Delete</h2></legend>\
			  <label><h3>Are you sure you want to delete this item?</h3></label>\
			  <div style=\"text-align:center; width:100%; margin:10px\">\
				<button onClick=\"deleteItem(currentID\" class=\"button\">Yes</button><!--Fires the deleteItem function in the top script-->\
				<button onClick=\"closeModal('#editModal');\" class=\"button\">No</button>\
			  </div>\
			</fieldset>\
		  </form>";
      console.log(HTMLtoReturn);
	  document.getElementById("editModalInner").innerHTML = HTMLtoReturn;
	  }
	}
	
	<!--Closes the modal with id idString, with syntax '#MODALNAME'-->
	function closeModal(idString) {
	  $(idString).foundation('reveal', 'close');
	}
	
	<!--returns a string to be rendered by a document.write()-->
	function updateItems(itemsSize, itemsArray) {
	  var itemsHTML="";
	  for(var i=0; i<itemsSize; i++) {
		itemsHTML+=itemsArray[i];
	  }
	  return itemsHTML;
	}
  </script>
  
  <div id="my_Items_Title">
  <h2>My Items</h2>
  
  <h3>Pending</h3>
  <hr />
  <div class="scroll_Area">
    <ul class="small-block-grid-2">
    <div id="pendingArea"></div><!--rendered later by a document.write()-->
    </ul>
  </div>
  
  <h3>Buy Requests</h3>
  <hr />
  <div class="scroll_Area">
    <ul class="small-block-grid-2">
      <div id="buyRequestArea"></div><!--rendered later by a document.write()-->
    </ul>
  </div>
  
  <!--Modal to edit or delete an item-->
  <div id="editModal" class="reveal-modal">
  	<div id= editModalInner></div>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <script>
    <!--Renders stuff the first time around-->
	document.getElementById("pendingArea").innerHTML = updateItems(pendingItemsSize, pendingItemsArray);
	document.getElementById("buyRequestArea").innerHTML = updateItems(buyRequestItemsSize, buyRequestItemsArray);
  </script>
  
  <script>
	document.write('<script src=' +
	('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
	'.js><\/script>')
  </script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.section.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <script>
    $(document).foundation();
  </script>
  
{% endblock %}