{% extends "_base.html" %}

{% block content %}

<!-- Nav Sidebar -->
<!-- Main Section to Sell-->

<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<div class="row">
	
<h2>
	{% if logged_in %}
		Hi {{ current_user.name }}, sell your item below:
	{% else %}
		Not logged in.
	{% endif %}
</h2>

<div class="panels">

	<form method="post" action="/additem" data-abide class="custom">
		<div class = "large-11 columns">
		<!-- Content for the sell area -->
		<div id = "sellContent">
			<!-- Item row -->
			<div class="row">
				<div class="large-5 columns">
					<h6 class="title"> Item: </h6>
				</div>
				<div class="large-6 columns">
						
							<div class="name-field">
							<input type="text" placeholder="New Item" name="item_name" required>
							</div>
						
				</div>
				<!-- Empty div for spacing -->
				<div class="large-6 columns"></div>
			</div>
			
			<br>
			
			<!-- Price stuff -->
			<div class = "row">
				<div class="large-5 columns">
					<h6 class="title"> Price: </h6>
				</div>
				<div class="large-6 columns">
					
					<input type="text" name="price" placeholder="Optional" />
					
				</div>
				<!-- Empty div for spacing -->
				<div class="large-1 columns"></div>
			</div>
			
			<!-- Category section -->
			<div class="row">
				<div class="large-5 columns">
					<h6> Category: </h6>
				</div>
				<div class="large-6 columns">
				
					<select id="customDropdown" name="category">
						<option value="CATEGORY" DISABLED SELECTED>Please Choose</option>
						<option value="Appliances">Appliances</option>
						<option value="Books">Books</option>
						<option value="Clothing">Clothing</option>
						<option value="Electronics">Electronics</option>
						<option value="Furniture">Furniture</option>
						<option value="Housing">Housing</option>
						<option value="Tickets">Tickets</option>
						<option value="Transportation">Transportation</option>
						<option value="Vehicle">Vehicle</option>
						<option value="Misc">Misc</option>
					</select>
					
					
				</div>
				<!-- empty div to fill up space -->
				<div class="large-1 columns"></div>
			</div>
				<br>
			<!-- Photo area -->
			<div class = "row">
				<div class="large-5 columns">
					<h6 class="title"> Photo: </h6>
					<br>
				</div>
				<div class="large-6 columns">
					
					<!--<input type="file" id="imgInp" size="40" accept="image/*" name="photo" /> -->
					
					<input type="filepicker" data-fp-apikey="A9sWQqHKDSLu0QkEeY1qnz" data-fp-mimetypes="image/*" data-fp-container="modal" data-fp-multiple="false" data-fp-services="COMPUTER,FACEBOOK,INSTAGRAM" onchange="
					url1 = event.fpfile.url;

					//do what you need to store the url
					console.log(url1);
					
					
					//insert into the page
					$('#placeholder').attr('src', url1);
					$('#url').attr('value', url1);
					">
					<br>
					<img id="placeholder" src="" alt="No Image Available"></img>
					
					<input type="hidden" id= "url" name="file_url" value = "" />
					
					<!--<img id="photo" src="#" alt="No Image Available" /> -->
					
				</div>
				<!-- empty div -->
				<div class="large-1 columns"></div>
			</div>
				<br>
				
			<!-- Description area -->	
			<div class = "row">
				<div class="large-5 columns">
					<h6 class="title"> Description: </h6>
				</div>
				<div class="large-6 columns">
					
						<textarea rows="5" cols="60" placeholder="Description" name="description" required></textArea>
					
				</div>
				<!-- Empty div for spacing -->
				<div class="large-1 columns"></div>
			</div>
			<br>
			<!-- Location stuff -->
			<div class = "row">
				<div class="large-5 columns">
					<h6 class="title"> Location: </h6>
				</div>
				<div class="large-6 columns">
					
					<input type="text" name="location" placeholder="Location" required>
					
				</div>
				<!-- Empty div for spacing -->
				<div class="large-1 columns"></div>
			</div>
				
			<!-- how to contact -->
			<div class = "row">
				<div class="large-5 columns">
				<h6 class="title"> Your Contact Info: </h6>
				</div>
				<div class="large-6 columns">
					
					<input type="text" name="contact" placeholder="Best Way To Contact You" required>
					
				</div>
				<!-- Empty div for spacing -->
				<div class="large-1 columns"></div>
			</div>
				
			<br><button type="submit">Create Item</button><br>			
		</div>
		</div>
		
		<!--File Photo-->
		<div class = "large-1 columns"></div>
	</form>

</div>

{% endblock %}
