{% extends "_base.html" %}

{% block content %}

<!-- <script src="/assets/js/facebook.js"></script> -->
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '638088996223390',                      		 // App ID from the app dashboard
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
  function sendMessage(itemID,userID) {
	var userarr = userID.split(':');
	FB.ui({
      method: 'send',
	    to: userarr[1],
      link: 'http://uscfreeandforsale.appspot.com/item/'+itemID
	});
}
</script>
Your request has been logged.
<p>
Seller: {{ to_user.name }}<br> 
Item Name: {{item.item_name}}
<p>
Do you want to send a FB message to the seller?
<p>
<div class="button" onClick="sendMessage({{item.key().id()}},'{{to_user.auth_ids[0]}}')">Send Message</div>

{% endblock %}